/* Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-image: url('imagens/imagem-servico.jpg'); /* Imagem de fundo para a página de serviços */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1rem;
    width: 100%;
    color: #fff;
  }
  
  /* Caixa de Serviços */
  .service-container {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 40px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  }
  
  h1 {
    font-size: 28px;
    margin-bottom: 30px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }
  
  ul li {
    background-color: #007bff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  ul li:hover {
    background-color: #0056b3;
  }
  
  button.btn {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
  }
  
  button.btn:hover {
    background-color: #218838;
  }
  
  .logout-btn {
    background-color: #dc3545;
  }
  
  .logout-btn:hover {
    background-color: #c82333;
  }
  